.App{
    display: flex;
    padding: 3rem 8rem;
    min-height: 838px;
}
.participant{
    flex: 1;
    text-align: center;
    margin-right: 10px;
}
.question{
    flex-grow: 2;
    text-align: center;
}
.chatRoom{
    flex: 1.5;
    text-align: center;
    border: 1px solid;
    margin-left: 10px;
}
